.main_head img{
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.points_table{
  display: flex;
  justify-content: space-evenly;
}
.points{
  text-align: center;
  background-color: red;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid black;
  color: white;
}
.points p{
  font-size: 18px;
}
.game_control{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
}
.game_control .game_img{
  border: 1px solid rgb(219, 218, 218);
  margin: 5px 0;
  border-radius: 5px;
}

.game_control .game_img:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (max-width:600px) {
  .main_head img{
    width: 130px;
    height: 130px;
    cursor: pointer;
  }
}

